.AppHeader {
  background-color: #172b4d;
  background-image: url("../images/misc/books.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5vw 5vh;
  overflow: hidden;
}

.AppHeader h1 {
  font-size:7rem;
  font-weight: 800;
  color: white;
  margin-top: 6vh;
  margin-bottom: 4vh;
}

.flexRow {
  width: 80vw;
  display: flex;
  flex-direction: row;
}

/* Home */

.home {
  width: 80vw;
  margin: 0 auto;
}

.home h3 {
  color: white;
  margin-bottom:4vh;
}

.navWrapper {
  width: 40vw;
  margin-bottom:2vh;
}

.navTitle {
  font-size: 1.4rem;
  margin: 0;
}

.headerCard {
  min-height: 30vh;
  width: 40vw;
  margin-bottom: 8vh;
  border-radius: 15px;
}

.cardBody {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
}

.cardDesc {
  color: black;
  font-size: 1.2rem;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.greenNotesBg {
  height: 50vh;
  background: white;
  border-radius: 20px;
  padding: 20px;
}

#greenNotes {
  float: left;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.info h3 {
  max-width: 40vw;
  color: #f4f5f7;
  text-decoration: none;
  background-image: linear-gradient(#172b4d, #172b4d), linear-gradient(#2dce89, #2dce89);
  background-size: 100% 4px, 100% 4px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat, no-repeat;
  transition: background-size 2s linear;
}

.info h3:hover {
  background-size: 0 4px, 100% 4px;
}