.landing {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: #f6f9fc;
}

.cover {
    width: 50vw;
    padding: 8vh 0 8vh 5vw;
}

.menu {
    width: 60vw;
    padding: 10vh 5vw;
}

.title {
    color: #172b4d;
    font-size: 8vw;
    font-weight:900;
    line-height: 1.2;
}

/* About */
.desc h3 {
    color: #2dce89;
    margin: 4vh 0;
}

.desc p {
    color: #172b4d;
    font-size: 20px;
    width: 35vw;
}

.desc p strong {
    color: #5e72e4;
    font-weight: 600;
}

/* Tabs */
.cardBody {
    height: 25vh;
}

.cardBody Button {
    font-size: 14px;
    margin: 6px;
}

/* Demo image */
.demo {
    object-fit: cover;
    object-position: 100% 0;
    height: 40vh;
    margin-top: 8vh;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 16px 4px #ced4da;
}

.caption {
    text-align: right;
    margin-top: 10px;
    font-style: italic;
}
