.navbarHorizontal {
    background-color: #172b4d;
    margin-bottom: 6vh;
}

.navbarHorizontal a {
    color: white;
    font-size: 20px;
}

.display1 {
    font-weight: 800!important;
    margin-bottom: 2vh;
}

.subtopic {
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
    max-width: 35vw;
}

.card {
    border:none;
}

.card Button {
    margin: 2vh 0;
    white-space: normal;
}

img {
    width: 100%;
}