.navbarHorizontal {
    background-color: #5e72e4;
    margin-bottom: 6vh;
    box-shadow: 0px 0px 16px 4px #ced4da;
}

#navbarLink {
    color: white;
    font-size: 2vh;
}

#navbarLink:hover {
    color: white;
    text-decoration: none;
}

.display1 {
    font-weight: 800!important;
    margin-bottom: 2vh;
}

.subtopic {
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
}

@media only screen and (max-width: 768px) {
    .subtopic {
        margin: 0 auto;
        min-width: 60vw;
    }
}

.notesContainer {
    margin-bottom: 10vh;
}

.card {
    border:none;
}

.card Button {
    margin: 2vh 0;
    white-space: normal;
}

img {
    width: 100%;
}

.footer {
    background-color: #2dce89;
    padding-top: 2vh;
}

.footer p {
    color: #172b4d;
    margin: 0 auto;
    text-align: center;
}